<!DOCTYPE html>
<html lang="en">
<!-- Head--> <%- include('./partials/head.ejs') %>

<body>
<!-- Navbar--> <%- include('./partials/nav.ejs') %>

<!-- Start of Content -->
<section class="content">
    <div class="is-centered">
    <br>
    <h1><center>Create account</center></h1>
        
            <div class="form" >
                <label for="username"><b>Username</b></label>
                <input type="text" id="username" placeholder="Enter Username" name="username" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" id="password" placeholder="Enter Password" name="psw" required>

                <button id="create-btn">Submit</button>
            </div>
        
    </div>
</section>
<!-- End of Content -->
<!-- Footer--><%- include('./partials/foot.ejs') %>
</body>
</html>