<!DOCTYPE html>
<html lang="en">
  <!-- Head--> <%- include('./partials/head.ejs') %>
<body>
<!-- Navbar--> <%- include('./partials/nav.ejs') %>

<!-- Top Image Start-->
<header class="container">
  <div class="row"><div class="span4"></div>
    <img src="https://e0.365dm.com/22/01/1600x900/skysports-spfl-scot-prem-return_5639353.jpg?20220113152820"
    class="img-responsive" /><div class="span4"></div>
  </div>
  <div class="text-center my-5">
    <h1 class="text-black fs-1 fw-bolder">G o a l G e t t e r s</h1>
    <h3 class="text-black-50 mb-1">a Scottish Professional Football League tool</h3>
    <h4 class="mb-1">Follow your favorite SPFL team or player and stay up to date with the latest results and stats.</h4>
  </div>
</header>
<!-- Top Image End --> 

<!-- Optional Content Under Header Start -->
<!-- <section class="py-5">
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h3>Test</h3>
        <p class="lead">Test</p>
        <p class="mb-0">Test</p>
      </div>
    </div>
  </div>
</section> -->
<!-- Optional Content Under Header End -->

<!-- Middle Image Start -->
<div class="row"><div class="span4"></div>
    <img src="https://wwwimage-us.pplusstatic.com/base/files/seo/spfl_social_1200x627.jpg" 
      class="img-responsive" /><div class="span4"></div>
</div>
<!-- Middle Image End -->

<!-- Botttom Content Start -->
<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
      <h1 class="text-center">League Table 2022-2023</h1>
        <div class="stats-container" id="stats-container" style="overflow-x:auto;">
          <table>
            <tr>
              <% if (row.length > 0) { %>
              <% row.forEach(row => { %>
                <th><h3 class="text-center">&nbsp<%= row.header %>&nbsp</h3></th>
              <% }) %>
              <% } %>
            </tr>
              <tbody id="stats"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Botttom Content End -->

<!-- Footer--><%- include('./partials/foot.ejs') %>
<script src="/controllers/home.js"></script>
</body>
</html>