<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Home page</h2>
    
    <table id="table"></table>

    <!-- <ul>
        <li> <a href="/">Home</a></li>
        <li> <a href="/">Player Search</a></li>
    </ul>
    <div>
        <tr>
          <th for="position">Position</th>
          <th for="team">Team</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
    </div> -->
    
    <script src="/controllers/home.js"></script>
</body>
</html>