<!DOCTYPE html>
<html lang="en">
  <!-- Head--> <%- include('./partials/head.ejs') %>
<body>
<!-- Navbar--> <%- include('./partials/nav.ejs') %>

<!-- Start of Content -->
<section class="content">
  <div>
    <h1 class="text-center">Player Search</h1>
      <div class="text-center">
        <input type="text" id="player-search">
        <button type="button" id="search-btn">Search</button>
      </div>
    <div class="results">
      <h2 class="text-center">Search Results</h2>
      <div class="card-container" id="card-container"></div>
    </div>
  </div>
</section>
<!-- End of Content -->

<!-- Footer--><%- include('./partials/foot.ejs') %>
<script src="/front-end-js/player-search.js"></script>
</body>
</html>